*{
    margin: 0;
    padding: 0;
}

.estadistic-header{
    background: url(/Img/productivity-148197_1280.png);
    background-size: 30rem;
    height:400px;
    background-repeat: no-repeat;
    background-position: center;
}
h3{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}